// Font and Styles
$title-font: 'Merriweather', serif;
$primary-font: 'Open Sans', sans-serif;
$regular: 400;
$bold: 700;
$letter-spacing: 0.5px;

// Theme Colors

$default: #333;
$default-hover: #111;
$primary: #0082d6;
$primary-hover: #0266a7;
$success: #26ae46;
$success-hover: #0c7d27;
$info: #0072bc;
$info-hover: #125988;
$warning: #e98b1c;
$warning-hover: #c26b05;
$danger: #e80606;
$danger-hover: #c20303;
$title-color: #111;
$text-color: #666;
$bg-color: #f7f7f7;
$dark-bg-color: #222;
$body-bg: #fefefe;
$white: #fff;
$light-grey: #ebebeb;
$grey: #ccc;
$dark-grey: #555;
$black: #000;
$primary-transparent: rgba(0, 130, 214, 0.8);

// Social Colors

$facebook: #4e68a1;
$facebook-hover: #3b4f7a;
$twitter: #65b5f2;
$twitter-hover: #5294c6;
$google: #e05d4b;
$google-hover: #b94c3d;
$linkedin: #2083bc;
$linkedin-hover: #186592;
$pinterest: #d2373b;
$pinterest-hover: #ad2c2f;
$dribbble: #ec5f94;
$dribbble-hover: #b4446e;